<div class="container" style="height:750px;">
  <div class="login-card">
      <div class="login-header">
          <div class="logo">PETMATCH</div>
          <div class="tagline">WHERE EVERY TAIL FINDS A TALE</div>
      </div>

      <div class="login-body">
          <form (ngSubmit)="onSubmit()"  [formGroup]="loginForm" >
              <div class="mb-3 position-relative">
                  <i class="fas fa-paw paw-icon" style="top: 15px; left: 15px;"></i>
                  <input type="email" class="form-control ps-5" placeholder="Email" formControlName="email" required>
              </div>

              <div class="mb-4 position-relative">
                  <i class="fas fa-paw paw-icon" style="top: 15px; left: 15px;"></i>
                  <input type="password" class="form-control ps-5" placeholder="Mot de passe" formControlName="password" required>
              </div>

              <button type="submit" class="btn btn-login btn-success mb-3">
                  <i class="fas fa-bone me-2"></i> SE CONNECTER
              </button>

              <div class="footer-links">
                  <h5><a routerLink="/auth/register" class="me-3">Créer un compte</a>
                  <a href="#">Mot de passe oublié ?</a></h5>
              </div>
          </form>
      </div>
  </div>
</div>
