<div class="container" style="height:900px;">
  <div class="login-card">
      <div class="login-header">
          <div class="logo">PETMATCH</div>
          <div class="tagline">WHERE EVERY TAIL FINDS A TALE</div>
      </div>

      <div class="login-body">
          <form (ngSubmit)="onSubmit()"  [formGroup]="loginForm" >
            <div class="mb-3 position-relative">
              <i class="fas fa-user-tag paw-icon" style="top: 15px; left: 15px;"></i>
              <input type="text" class="form-control ps-5" placeholder="nom" formControlName="nom" required>
          </div>
          <div class="mb-3 position-relative">
            <i class="fas fa-user paw-icon" style="top: 15px; left: 15px;"></i>
            <input type="email" class="form-control ps-5" placeholder="prenom" formControlName="prenom" required>
          </div>

              <div class="mb-3 position-relative">
                  <i class="fas fa-envelope paw-icon" style="top: 15px; left: 15px;"></i>
                  <input type="email" class="form-control ps-5" placeholder="Email" formControlName="email" required>
              </div>

              <div class="mb-4 position-relative">
                  <i class="fas fa-lock paw-icon" style="top: 15px; left: 15px;"></i>
                  <input type="password" class="form-control ps-5" placeholder="Mot de passe" formControlName="password" required>
              </div>
              <div class="mb-4 position-relative">
                <i class="fas fa-key paw-icon" style="top: 15px; left: 15px;"></i>
                <input type="password" class="form-control ps-5" placeholder="Confirmer Mot de passe" formControlName="conf_password" required>
            </div>
              <button type="submit" class="btn btn-login btn-success mb-3">
                  <i class="fas fa-bone me-2"></i> SE CONNECTER
              </button>

              <div class="footer-links">

               <h5> Déjà membre ?<a  routerLink="/auth/login"class="me-3"> Se connecter</a></h5>

              </div>
          </form>
      </div>
  </div>
</div>
